.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.favicon-credit {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
